{% liquid 
  assign pt = block.settings.pt | prepend: 'pt-'
  assign pb = block.settings.pb | prepend: 'pb-'
%}

<div 
  class="product-block-richtext {{ pt }} {{ pb }}" 

    <h2 class="title {{ block.settings.title_font_size }}">
      {{ block.settings.title }}
    </h2>

   <div>
        {{ product.description }}

    </div>
</div>